.work-wrapper {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  h1 {
    font-size: 3rem;
    line-height: 20px;
  }
  .grid {
    display: grid;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @include media(">=phone", "<lgphone") {
      grid-template-columns: 1fr;
      padding-left: 0;
      padding-right: 0;
    }
    @include media(">=lgphone", "<tablet") {
      grid-template-columns: 1fr;
      padding-left: 0;
      padding-right: 0;
    }
    @include media(">=tablet", "<desktop") {
      grid-template-columns: 1fr 1fr;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
